.contact-header {
    background-image: url("https://images.unsplash.com/photo-1615309662243-70f6df917b59?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1380&q=80");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    height: 23rem;
    display: flex;
    flex-direction: column-reverse;
}

.contact-title {
    margin: 0;
    color: white;
    font-size: 55px;
    padding-bottom: 5rem;
}

.form-sect {
    height: 55rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container {
    background-color: #1A1E31;
    width: 28rem;
    height: 25rem;
    margin-left: 10rem;
    color: aqua;
    justify-content: space-between;
    padding: 3rem;
    font-size: 21px;
}

.address p,
.email p {
    margin: 0;
    text-align: left;
}

.first-last-input input {
    width: 24rem;
    height: 2rem;
}

input.first {
    margin-right: 1.5rem;
}

.start-form {
    width: 33rem;
}

.form-field {
    margin: 1.5rem;
}

.form-field input {
    height: 2rem;
}

.form-field textarea {
    height: 10rem;
}

.submit-btn {
    background-color: navy;
    border-radius: 5px;
    color: white;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    margin-left: 1.5rem;
}